button{
    width: 40%;
    cursor: pointer;
    background-color: mediumseagreen;
    color: white;
    border: 3px solid lightgray;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    transition: .3s linear;
}

#content{
    height: 100vh;
}
.card, .down-card {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: nowrap;
    padding: 0 5vw;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

.card{
    min-height: 50px;
    flex-direction: column;
}

.down-card {
    flex-direction: row;
    min-height: 0;
}

.chat-card{
    height: calc(100vh - 200px)
}
#chat-window{
    height: calc(100% - 75px);
    width: 100%;
    border: 3px solid darkgray;
    border-radius: 15px;
    overflow-y: scroll;
}
.room-name{
    margin: 0 auto 10px;
}

.msg{
    padding: 10px;
    width: fit-content;
    margin: 0;
    color: white;
}

.my-mess>.msg{
    background-color: cornflowerblue;
    border-radius: 10px 10px 0 10px;
}

.other-party-mess>.msg{
    background-color: gray;
    border-radius: 10px 10px 10px 0px;
}
.chat-bubble{
    display: flex;
    padding: 0 5px;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 5px;
}
.u-name{
    font-size: 12px;
    color: darkgray;
    margin: 3px 0 10px 0;
}

.chat-bubble.my-mess{
    align-items: flex-end;
}

::-webkit-scrollbar {
  width: 10px;
  height: 30px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: darkgray;
  border: 0px none rgba(255, 255, 255, 0);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
::-webkit-scrollbar-thumb:active {
  background: gray;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border: 0px none rgba(255, 255, 255, 0);
  border-radius: 15px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-track:active {
  background: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
