<div id="background"></div>
<div id="content">
        <div class="card chat-card box-shadow">
                <p class="room-name">Pokój {{ connection.room }}</p>
                <div id="chat-window" #messageWindow>
                        <div class="chat-bubble" *ngFor="let message of messages" [ngClass]="message.name == connection.uName ? 'my-mess' : 'other-party-mess'">
                                <p class="msg">{{message.msg}}</p>
                                <p class="u-name">{{message.name}}</p>
                        </div>
                </div>
        </div>
        <div class="down-card box-shadow">
                <input id="text" size="80" placeholder="Wpisz wiadomość" [(ngModel)]="input">
                <button (click)="sendMess($event)">Wyślij</button>
        </div>
</div>