@media (max-width: 463px) {
    #form-controls>button{
        height: 50px;
    }
  }
  @media (min-width: 464px) {
    #form-controls>button{
        height: 32px;
    }
  }
.card {
    width: 100%;
    background-color: white;
    min-height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5vh 6vw;
    box-sizing: border-box;
}

.box-shadow{
    -webkit-box-shadow: 6px 6px 0px -3px rgba(66, 68, 90, 0.3);
    -moz-box-shadow: 6px 6px 0px -3px rgba(66, 68, 90, 0.3);
    box-shadow: 6px 6px 0 -3px #42445a4d;
}

#form-controls{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
#form-controls>button{
    width: 40%;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    border: 3px solid lightgray;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    transition: .3s linear;
}

#form-controls>button:last-of-type{
    background-color: mediumseagreen;
}

#form-controls>button:hover{
    filter: brightness(.7);
}

.card>input{
    width: 100%;
    margin: 20px 0;
    border: 3px solid lightgray;
    height: 32px;
    font-size: 17px;
    border-radius: 10px;
}

.card {
    width: 100%;
    background-color: white;
    min-height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5vh 6vw;
    box-sizing: border-box;
}